@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Raleway:wght@200;300;400;500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    color:var(--secondary-color);
}

html {
    scroll-behavior: smooth;
  }

:root {
    --primary-color: #55a58d;
    --secondary-color: #4d4d4d;
}

/*Global styles*/
.container {
    width:80%;
    margin:auto;/*moves all to middle*/
    overflow: hidden;
}

ul {/*ul by default have padding so we reset to 0*/
    margin: 0;
    padding: 0;

}

.button_1 {
    height: 38px;
    border: .8px solid #fff;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color:#fff;
}

.button_1:hover {
    background-color: #ffffff2a;
    color:var(--secondary-color);
    border:0.8px solid var(--secondary-color);
    transition:ease-in .3s;
    transform-origin: top left;
    cursor: pointer;
}


/*Header*/

header {
    color: var(--secondary-color); 
    padding-top: 20px;
    min-height: 100px;/*height adjusts when menu gets smaller on smaller screen */
    border-bottom: 2px solid var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}


header li {
    float: left;
    display: inline;
    padding: 2px 20px 0 0px;
    margin-left: 30px;
    font-weight: bold;
}

header #branding {
    float: left;
}

#branding a:hover {
    text-decoration: none;
}


header nav {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

header a:hover {
    color:var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition: ease .4s;
    
}

.mobile-nav {
    display: none;
}


.right-menu li {
    padding-left:6px;
}

/* .invisible {
    display:none;
} */

/*Showcase*/

#showcase {
    min-height: 553px; /*to be responsive, dont set fixed height, but min-height*/
    border-bottom: 2px solid var(--primary-color);
    background: url('./images/MarketOverlay.jpg') no-repeat;
    background-size: 100%;
    color:#fff;
}

#showcase h1 {
    text-align: center;
    margin-top: 2.1em;
    font-size: 48px;
    
}

#showcase p {
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.8;
    
}

#showcase a {
    display: flex;
    padding-bottom: 20px;
    text-decoration: none;
    color:var(--secondary-color);
    font-size: 28px;
    font-weight: bold;
    color:#fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#showcase a:hover {
    color:var(--primary-color);
    transition: ease 0.4s;

}

#subscribe {
    background-color: var(--primary-color);
    height: 100px;
}

#subscribe h1 {
    float:left;
    margin-top: 30px;
    color: #fff;
}

#subscribe form {
    float: right;
    margin-top: 28px;
}

#subscribe input[type="email"] {
    padding: 4px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border:.5px solid var(--secondary-color);
    
}

/*About*/

#about {
    margin-top: 100px;
    min-height: 400px;
    border-bottom: 2px solid var(--primary-color);
}

#about p {
    font-size: 20px;
}

#about-text .about-content{
    float: right;
}

#about video {
    float:left;
    margin-right: 70px;
}

/*Guarantee*/
.guarantee {
    margin-top: 100px;
    border-bottom: 2px solid var(--primary-color);
    min-height: 350px;
}

.guarantee div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#guarantee1 {
    display: flex;
    flex-direction: column;
}
#guarantee2 {
    display: flex;
    flex-direction: column;
}
#guarantee3 {
    display: flex;
    flex-direction: column;
}


/*Products*/

.products {
    border-bottom: 2px solid var(--primary-color);
}

.products h1 {
    text-align: center;
    margin-top: 40px;
    padding: 40px;
}

.products .img-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img1 {
    
    background-image: url('./images/baked.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
  #img1:hover {
    background-image: url('./images/foodText.png');
    background-repeat: no-repeat;   
    transition: ease-in 0.3s;
    cursor: pointer;
  }

#img2 {
    
    background-image: url('./images/cakes.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
  #img2:hover {
    background-image: url('./images/cakesText.png');transition: ease-in 0.3s;
    cursor: pointer;
  }

#img3 {
    
    background-image: url('./images/fruits.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
  #img3:hover {
    background-image: url('./images/fruitText.png');transition: ease-in 0.3s;
    cursor: pointer;
  }

#img4 {
    
    background-image: url('./images/containers.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
  #img4:hover {
    background-image: url('./images/nutsText.png');transition: ease-in 0.3s;
    cursor: pointer;
  }

.products .img-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

#img5 {
    
    background-image: url('./images/perfume.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
#img5:hover {
    background-image: url('./images/perfumeText.png');transition: ease-in 0.3s;
    cursor: pointer;
  }

#img6 {
    
    background-image: url('./images/candles.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
#img6:hover {
    background-image: url('./images/soyText.png');transition: ease-in 0.3s;
    cursor: pointer;
  }

#img7 {
    
    background-image: url('./images/flatware.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
#img7:hover {
    background-image: url('./images/flatwareText.png');transition: ease-in 0.3s;
    cursor: pointer;
  }

#img8 {
    
    background-image: url('./images/dishware.png');
    background-repeat: no-repeat;   
    background-size:100%;
    width: 220px;
    height:220px;
  }
  
#img8:hover {
    background-image: url('./images/dishwareText.png');transition: ease-in 0.3s;
    cursor: pointer;
  }

  /*Contact*/

  /* .contact {
    border-top: 2px solid var(--primary-color);
  } */

/*Footer*/  

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px;
    margin-left: 100px;
    max-width: 1100px;
    font-weight: bold;
    
 }

 footer a {
    text-decoration: none;    
    color:var(--secondary-color);
}

footer a:hover {
    color:var(--primary-color);
    transition:ease 0.4s;
    border-bottom: 3px solid var(--primary-color);
}
.footer div {
    display: flex;
    align-items: center;
}

.footer li {
    list-style: none;
    margin-right: 30px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}
/* 
.footer p {
} */

.footer .links {
    padding-left:80px;
    float: right;
    }


@media(max-width: 768px) {
        header #branding, header nav, header nav li {
            float:none;
            text-align: center;
            width: 100%;
         }


        header{
            line-height: 2.5;
            font-size: 1.2rem;            
        }
        header #branding a:hover {
            text-decoration: none;
        }
        
        header nav {
           margin-top: 0px;
           margin-bottom: 15px;
        }
        
        .hamburger {
            position:fixed;
            width: 40px;
            cursor: pointer;
            outline: none;
            background: none;
            appearance: none;
            border: none;
            margin-top: -73.5px;
            margin-right: 35px;
        }

        .hamburger .bar, .hamburger:after, .hamburger:before {
            content: '';
            display: block;
            width: 100%;
             height: 4px;
            background-color: var(--secondary-color);
            margin: 6px 7px;
            transition: 0.4s;
        }

        .hamburger.is-active:before {
            transform: rotate(-45deg)translate(-8px, 6px) ;
        }

        .hamburger.is-active:after {
            transform: rotate(45deg)translate(-8px, -7px) ;
        }

        .hamburger.is-active .bar {
            opacity: 0;
        } 

        .mobile-nav {
            display: block;
            position: fixed;
            left: 100%;/*not displaying on screen*/
            right: 0;
            width: 100%;
            min-height: 100vh;
            background-color:var(--primary-color);
            opacity:95%;
            padding-top: 120px;
            transition: 0.4s;
        }

        .mobile-nav.is-active {
            left: 0;
        }

        .mobile-nav a {
            display: block;
            width: 100%;
            max-width: 120px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 16px;
            padding: 12px 16px;
            text-decoration: none;
            font-size: 35px;
            color: #f4f4f4;
        }

        .mobile-nav a:hover {
            border-bottom: 2px solid #f4f4f4;
            transition: ease 0.4s;
        }

        .visible {
            display: none;}

        #showcase {
            border-bottom: 2px solid var(--primary-color);
            background: url('./images/MarketOverlay.jpg') no-repeat;
            background-size: 100%;
            color:#fff;
            min-height: 250px;
        }

        #showcase h1 {
            text-align: center;
            margin-top: 2.1em;
            font-size: 38px;
        }
        
      
        #showcase p {
            display: none;
        }
        
        #subscribe {
            background-color: var(--primary-color);
            height: 180px;
            text-align:center;
        }

        #subscribe form {
            float: right;
            margin-top: 0;
        }

        #subscribe h1 {
            font-size: 18px;
        }

        #subscribe button {
            margin-top: 10px;
            padding: 10px;
        }

        #about {
            margin-top: 50px;
            min-height: 400px;
            border-bottom: 2px solid var(--primary-color);
            text-align: center;
        }

        #about video {
            margin-bottom: 35px;
        }

        #about p {
            margin-bottom: 50px;
        }

        .guarantee {
            margin-top: 50px;
            border-bottom: 2px solid var(--primary-color);
            min-height: 350px;
        }
        
        .guarantee div {
            display: grid;
            grid-gap: 20px;
        }

        #guarantee3 h2{
            margin-bottom: 50px;
        }

    
        .products h1 {
            padding: 0px;
            padding-bottom: 70px;
        }

       .img-top, .img-bottom {
        display: flex;
        flex-direction: column;
        margin:-50px;
       }

       .categories img {
           padding: 20px;
       }

       .footer {
           justify-content: center;
           margin: auto;
       }
       
       .footer li {
           display: none;
          
       }
}

@media screen and (max-height:580px) {

    .mobile-nav {
        line-height: .5;
        padding-top: 10px;
        transition: 0.4s;
    }
    
    .mobile-nav a {
        font-style: bold;
        font-size: 15px;
    }

    #showcase {
        min-height: 350px;
    }

    #showcase h1 {
        text-align: center;
        margin-top: 3.2em;
        font-size: 38px;
    }

    #subscribe {
        text-align: center;
        background-color: var(--primary-color);
        height: 180px;
        text-align:center;
        padding-top: 20px;
    }

    #subscribe form {
        margin-right: 4.5em;
    }

    #subscribe h1 {
        font-size: 22px;
        margin-left: 5em;
    }

    #subscribe button {
        margin-top: 10px;
        padding: 10px;
    }
    
}